on:
  push:
    # Pattern matched against refs/tags
    tags:        
      - '*'           # Push events to every tag not containing /
  workflow_dispatch:

name: Publish

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
    
      - name: Build
        run: cargo build --verbose

      - name: Run formatter check
        run: cargo fmt --check --all

      - name: Run clippy
        run: cargo clippy -- --deny warnings

      - name: Run tests
        run: cargo test --verbose

      - run: cargo publish -p enum-derived-macro --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}

      - run: cargo publish -p enum-derived --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}